<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Logowanie do Hubu</h1>
    <div class="nickowpis">
        <label for="nick">Nick:</label>
        <input type="text" id="nick" placeholder="wpisz swój nick">
    </div>
    <div class="haslowpis">
        <label for="haslo">Hasło:</label>
        <input type="password" id="haslo" placeholder="wpisz swoje hasło">
    </div>
    <button id="logoguzik">Zaloguj</button>
    <script src="/assets/javascript/login.js"></script>
    
</body>
</html>