<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Witaj w Komentator Hub</h1>
    <p>Wybierz funkcję, z której chcesz skorzystać:</p>

    <ul>
        <li><a href="/czat">Przejdź do Czat</a></li>
        <li><a href="/notes">Zarządzaj notatkami</a></li>
        <!-- Możesz dodać kolejne -->
    </ul>

    <button id="logoutBtn">Wyloguj</button>

  <!-- (opcjonalnie) Skrypt do obsługi main.js -->
    <script src="/assets/javascript/main.js"></script>
</body>
</html>