<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Rejestracja</title>
  <link rel="stylesheet" href="../assets/style/ogolny.css">
</head>
<body>
  <header>
    <img src="../assets/images/logoPHE.jpg" alt="">
    <h1>Witaj w Polskim Hubie Esportowym</h1>
</header>
  <h2>Rejestracja</h2>
  <label>Nick: <input type="text" id="nick" /></label><br>
  <label>Hasło: <input type="password" id="haslo" /></label><br>
  <label>Rola: 
    <select id="rola">
      <option value="commentator">Komentator</option>
      <option value="admin">Admin</option>
    </select>
  </label><br>
  <button id="registerBtn">Zarejestruj</button>
  
  <p>Masz już tutaj konto? <a href="/login">No to zaloguj się</a></p>
  <footer>Projekt Szymona Lato na studia. Wykonany z obowiązku i pasji do esportu. Wszystkie prawa zastrzeżone :3</footer>
  
  <script src="/assets/javascript/rejestracja.js"></script>
</body>
</html>
