<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Rejestracja</title>
</head>
<body>
  <header>
    <h1>Witaj w Polskim Hubie Esportowym</h1>
  </header>
  <h2>Rejestracja</h2>
  <label>Nick: <input type="text" id="nick" /></label><br>
  <label>Hasło: <input type="password" id="haslo" /></label><br>
  <label>Rola: 
    <select id="rola">
      <option value="commentator">Komentator</option>
      <option value="admin">Admin</option>
    </select>
  </label><br>
  <button id="registerBtn">Zarejestruj</button>
  
  <p>Masz już tutaj konto? <a href="/login">No to zaloguj się</a></p>
  
  <script src="/assets/javascript/rejestracja.js"></script>
</body>
</html>
